<config>
    <logger>
        <name>LOGGER</name>
        <level>DEBUG</level>
        <to_file>0</to_file>
        <to_stdout>1</to_stdout>
        <format>%(asctime)s [%(levelname)s] [%(filename)s:%(lineno)d] - %(message)s</format>
    </logger>
    <telegram>
        <db>https://wowroad.info</db>
        <channels>
            <guild>guild-chat</guild>
            <guild_achievement>guild-achievement</guild_achievement>
        </channels>
    </telegram>
    <wow>
        <reconnect_delay>10</reconnect_delay>
        <platform>Win</platform>
        <locale>enUS</locale>
        <server_motd_enabled>1</server_motd_enabled>
        <version>3.3.5</version>
    </wow>
    <guild_events>
        <signed_on>0</signed_on>
        <signed_off>0</signed_off>
        <promoted>0</promoted>
        <demoted>0</demoted>
        <joined>1</joined>
        <left>1</left>
        <removed>1</removed>
        <motd>0</motd>
    </guild_events>
</config>